@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1E2841;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greetings {
  color: white;
}

.harlys-image {
  width: 200px;
  height: 200px;
  border-radius: 400px;
}

.website-img {
  width: 31.25rem;
}


.career-info {
  color: rgb(213, 213, 213);
}

.presentation-container {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 60px;
}

.content-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  background-color: #121b32;
  border: 2px solid #656a77;
  border-radius: 10px;
}

.content-text {
  color: white;
  font-size: 20px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blog {
  padding: 20px;
  text-align: center;
}

.newsletter {
  text-align: center;
  padding: 20px;
}

.fa-brands {
  color: white;
  font-size: 3.123rem;
  transition: 0.8s ease ;
  padding: 20px;
  background-color: #121b32;
  border: 2px solid #656a77;
  border-radius: 14px;

}

.fa-x-twitter:hover {
  background-color: black;
  color: white;
}

.fa-linkedin:hover {
  background-color: #0A66C2;
  color: white;
}

.fa-github:hover {
  background-color: #171B20;
  color: white;
}


.fa-instagram:hover {
  background-color: #E1306C;
  color: white;
  }

footer {
  text-align: center;
  margin: 40px;
}

a {
  text-decoration: none;
}
