@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background:linear-gradient(0deg, rgba(8, 13, 56, 0.74), rgba(0, 0, 0, 0.945)), url('./assets/coding.png');  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greetings {
  color: white;
}

.harlys-image {
  width: 200px;
  border-radius: 400px;
}



.career-info {
  color: rgb(213, 213, 213);
  text-align: center;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  margin-bottom: 60px;
  margin-top: 50px;
}

.button-container {
  background-color: #121b32;
  border: 2px solid #656a77;
  border-radius: 10px;
  width: 70%;
  transition: 1s ease;
  cursor: pointer;
}

.button-container:hover {
  background-color: #2f51a5;
}


section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-text {
  color: white;
  font-size: 20px;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 60%;
}

.fa-brands {
  color: white;
  font-size: 2rem;
  transition: 0.8s ease ;
  padding: 20px;
  background-color: #121b32;
  border: 2px solid #656a77;
  border-radius: 14px;

}

.fa-x-twitter:hover {
  background-color: black;
  color: white;
}

.fa-linkedin:hover {
  background-color: #0A66C2;
  color: white;
}

.fa-github:hover {
  background-color: #171B20;
  color: white;
}


.fa-instagram:hover {
  background-color: #aa1d4c;
  color: white;
  }

footer {
  text-align: center;
  margin: 40px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 414px)  {

  body {
    background:linear-gradient(0deg, rgba(8, 13, 56, 0.74), rgba(0, 0, 0, 0.945)), url('./assets/coding.png');
  }

  .content-text {
    text-align: center;
  }

  .social-media-container {
    gap: 15px
  }

  .harlys-image {
    width: 170px;
    margin-left: 20px;
  }

  .content-text {
    display: flex;
    justify-content: center;
  }
}
  
